{extend name="common/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-form">
        <!-- 基础设置 -->
        <div class="layui-card">
            <div class="layui-card-header">基础设置</div>
            <div class="layui-card-body">
                <!-- 版权信息 -->
                <div class="layui-form-item">
                    <label for="website_copyright" class="layui-form-label"><span class="asterisk">*</span>版权信息:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <input type="text" id="website_copyright" name="website_copyright"
                                   value="{$website.copyright}" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <!-- ICP备案 -->
                <div class="layui-form-item">
                    <label for="website_icp" class="layui-form-label"><span class="asterisk">*</span>ICP备案:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <input type="text" id="website_icp" name="website_icp"
                                   value="{$website.icp}" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <!-- 公安备案 -->
                <div class="layui-form-item">
                    <label for="website_pcp" class="layui-form-label">公安备案:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <input type="text" id="website_pcp" name="website_pcp"
                                   value="{$website.pcp}" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <!-- 统计代码 -->
                <div class="layui-form-item">
                    <label for="website_analyse" class="layui-form-label">统计代码:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <textarea id="website_analyse" name="website_analyse"
                                      class="layui-textarea" autocomplete="off">{$website.analyse}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 保存配置 -->
        <div class="layui-card">
            <div class="layui-card-body">
                <button class="layui-btn layui-btn-default {:check_perms('save', false)}" lay-submit lay-filter="addForm">保存配置</button>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use('form', function () {
        let form = layui.form;
        let $ = layui.$;

        form.on('submit(addForm)', function(data) {
            let that = this;
            waitUtil.locking(that)
            layer.confirm('确定保存当前配置吗?', function (index) {
                waitUtil.unlock(that);
                layer.close(index);
                waitUtil.ajax({
                    url: '{:route("setting.basics/save")}',
                    type: "POST",
                    data: data.field
                });
            });
        });

        form.on('radio(h5_status)', function (data) {
            let node = $('.h5_status');
            if (parseInt(data.value ) === 1) {
                node.hide();
            } else {
                node.show();
            }
        });
    });
</script>
{/block}